
      * {
        font-family: "Poppins", sans-serif;
      }
      body {
        margin: 0;
      }
      h1,form
      {
        padding: 5px;
      }
      #navbar {
        display: flex;
        justify-content: space-around;
        background-color: teal;
        padding: 10px;
      }

      a {
        text-decoration: none;
        color: lightgrey;
      }
      #navbar a:hover {
        color: white;
      }
      #navbar a {
        cursor: pointer;
      }