* {
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
form {
  border: 1px solid black;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

form > input {
    width: 300px;
  }

#submit {
  margin-top: 20px;
}

@media all and (min-width: 80px) and (max-width: 400px) {
    form > input {
    width: 250px;
  }
}

@media screen and (max-width: 320px) {
  form > input{
    width: 200px
  }
}