* {
  font-family: "Poppins", sans-serif;
    margin: 0;
  padding: 0;
}
body {
  margin: 0;
}
h1 {
  padding: 5px;
}
#container {
  padding: 5px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  font-size: 14px;
}

#container img{
  width: 100%;
}

#container > div > div+div{
  padding-bottom: 20px;
 display: flex;
 justify-content: space-between;
 margin-top: 20px;
 padding-right: 10px;
  padding-left: 10px;
  align-items: center;
}
#container > div > div:nth-child(1) > p{
  margin-right: 10px;
  margin-left: 10px;
}
#container > div > div > img{
  width: 100%;
}


#container > div{
  max-height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
#container > div > img{
  margin: 0;
}
#navbar {
  position: sticky;
  top: 0;
  /* height: 50px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #cceffb;
  padding: 10px;
}

#hamburger{
  display: none;
  background-color: inherit;
  border: none;
  font-size: 24px;
}
#logo{
  height: 50px;
  width: auto;
  margin: auto;
}
#navigation{
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  padding: 0;
  width: 100%;
}
a {
  text-decoration: none;
  color: black;
  font-weight: 700;
}
#navbar a:hover {
  color: lightgray;
}
#navbar a {
  cursor: pointer;
}


@media  all and (max-width: 720px) {
  #container{
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
  }

  #navbar{
    flex-wrap: wrap;
  }

  #hamburger{
    display: block;
  }

  
#navbar .show{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;
  }
  #navbar ul{
    display: none;
  }

}
@media all and (min-width: 80px) and (max-width: 400px) {
  #container {
    grid-template-columns: repeat(1, 1fr);
  }

  body{
    font-size: 12px;
  }
}
  @media all and (max-width: 360px){
    #logo{
      height: 40px;
    }

    #hamburger{
      font-size: 20px;
    }
  }
  @media all and (max-width: 200px){
    #logo{
      height: 30px;
    }

    #hamburger{
      font-size: 18px;
    }
  }


